<ion-header>
    
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="secondary" defaultHref="quartiers/"></ion-back-button>
        </ion-buttons>
      <ion-title>Ajouter Point</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <form  [formGroup]="addPointForm" (ngSubmit)="addPoint()">
      <ion-item>
          <ion-label style="font-size: 15px" position="floating">Nom Gerant*</ion-label>
          <ion-input  formControlName="nom_gerant" type="text" [(ngModel)] = "nom_gerant" required=True></ion-input>
          <div *ngIf="isSubmitted && formControls.nom_gerant.errors">
            <div *ngIf="formControls.nom_gerant.errors.required">required</div>
          </div>
      </ion-item>
      <ion-item>
          <ion-label style="font-size: 15px" position="floating">Nom Point Vente*</ion-label>
          <ion-input  formControlName="nom_point_vente" type="text" [(ngModel)] = "nom_point_vente" required></ion-input>
          <div *ngIf="isSubmitted && formControls.nom_point_vente.errors">
            <div *ngIf="formControls.nom_point_vente.errors.required">required</div>
          </div>
      </ion-item>
      <ion-item>
          <ion-label style="font-size: 15px" position="floating">Telephone*</ion-label>
          <ion-input  formControlName="telephone1" type="text" [(ngModel)] = "telephone1" required></ion-input>
          <div *ngIf="isSubmitted && formControls.telephone1.errors">
            <div *ngIf="formControls.telephone1.errors.required">required</div>
            <div *ngIf="formControls.telephone1.errors.pattern">invalid</div>
          </div>
      </ion-item>
      <ion-item>
          <ion-label style="font-size: 15px" position="floating">Phone Propriétaire*</ion-label>
          <ion-input  formControlName="phone_client" type="text" [(ngModel)] = "phone_client" required></ion-input>
          <div *ngIf="isSubmitted && formControls.phone_client.errors">
            <div *ngIf="formControls.phone_client.errors.required">required</div>
            <div *ngIf="formControls.phone_client.errors.pattern">invalid</div>
          </div>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: 15px" position="floating">adresse*</ion-label>
        <ion-input  formControlName="adresse" type="text" [(ngModel)] = "adresse" required></ion-input>
        <div *ngIf="isSubmitted && formControls.adresse.errors">
          <div *ngIf="formControls.adresse.errors.required">required</div>
          <div *ngIf="formControls.adresse.errors.pattern">invalid</div>
        </div>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Sélectionner" [(ngModel)] = "type" formControlName="type" style="font-size: 15px" position="floating">
          <ion-select-option value="0">BG</ion-select-option>
          <ion-select-option value="1">Biere</ion-select-option>
          <ion-select-option value="2">Mixe</ion-select-option>
        </ion-select>
        <div *ngIf="isSubmitted && formControls.type.errors">
          <div *ngIf="formControls.type.errors.required">required</div>
          <div *ngIf="formControls.type.errors.pattern">invalid</div>
        </div>
    </ion-item>
      <ion-button type="submit" expand="block" color="dark" [disabled]="!addPointForm" style="text-transform:inherit">Submit</ion-button>
    </form>
</ion-content>
