<ion-header>
    
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="secondary" defaultHref="villes/"></ion-back-button>
      </ion-buttons>
    <ion-title>Communues</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
        <ion-list>
          <ion-item-sliding>
            <ion-item button  *ngFor="let communue of communues; let i = index; let even = even" (click)="getCommunueID(i+1)" style="font-size: 15px" [color]="even? '' : 'secondary'" detail>
              {{ communue.name }}   
            </ion-item>
          </ion-item-sliding>
        </ion-list>
</ion-content>
