<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="text-align:center; color: #ffffff">Sobragui</ion-title>
  </ion-toolbar>
</ion-header>


<h4 style="text-align:center">Numero</h4>
<ion-card style="box-shadow: 0px; bottom: 130px">  
    <ion-input  [(ngModel)]="inputNumber" type="tel" pattern="[0-9]*" style="-webkit-text-security:disc"></ion-input>
    <ion-button (click)="saveNumero()" expand="block" color="secondary" routerLink="/regions" routerDirection="forward" style="text-transform:inherit" class="black-text">Valider</ion-button>
</ion-card>
